@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
header {
  background: url(bg_image.jpg) center center;
  background-size: cover;
  height: 95vh;
  background-repeat: no-repeat;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Montserrat;
}

tt {
  font-family: Merriweather;
}
